In [27]:
import pandas as pd
import os
import requests
import json

In [28]:
r = requests.get("https://api.weather.gc.ca/collections/hydrometric-monthly-mean/items?f=json")

In [29]:
weatherdict = json.loads(r.text)

In [30]:
df = pd.json_normalize(weatherdict, record_path='features' )

In [34]:
df

,id,type,geometry.coordinates,geometry.type,properties.IDENTIFIER,properties.STATION_NAME,properties.STATION_NUMBER,properties.PROV_TERR_STATE_LOC,properties.DATE,properties.MONTHLY_MEAN_LEVEL,properties.MONTHLY_MEAN_DISCHARGE
0,02CE002.1915-06,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1915-06,AUX SABLES RIVER AT MASSEY,02CE002,ON,1915-06,None,NaN
1,02CE002.1915-07,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1915-07,AUX SABLES RIVER AT MASSEY,02CE002,ON,1915-07,None,15.300000
2,02CE002.1915-08,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1915-08,AUX SABLES RIVER AT MASSEY,02CE002,ON,1915-08,None,6.210000
3,02CE002.1915-09,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1915-09,AUX SABLES RIVER AT MASSEY,02CE002,ON,1915-09,None,8.130000
4,02CE002.1915-10,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1915-10,AUX SABLES RIVER AT MASSEY,02CE002,ON,1915-10,None,16.100000
...,...,...,...,...,...,...,...,...,...,...,...
495,02CE002.1956-12,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1956-12,AUX SABLES RIVER AT MASSEY,02CE002,ON,1956-12,None,11.000000
496,02CE002.1957-01,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1957-01,AUX SABLES RIVER AT MASSEY,02CE002,ON,1957-01,None,8.270000
497,02CE002.1957-02,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1957-02,AUX SABLES RIVER AT MASSEY,02CE002,ON,1957-02,None,6.800000
498,02CE002.1957-03,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1957-03,AUX SABLES RIVER AT MASSEY,02CE002,ON,1957-03,None,11.400000
499,02CE002.1957-04,Feature,"[-82.07080841064453, 46.21493911743164]",Point,02CE002.1957-04,AUX SABLES RIVER AT MASSEY,02CE002,ON,1957-04,None,44.599998